@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-image: url("/bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
    font-family: "Public Sans", sans-serif;
    height: 100%;
  }
}

@layer components {
  button {
    @apply px-4 py-2 rounded-lg font-bold;
  }
  .btn-primary {
    @apply bg-green-500 text-white;
  }
}
.btn-secondary {
  @apply bg-white text-gray-900;
}
